<footer class="page-footer">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">CLESE - UÍGE</h5>
            <p class="grey-text text-lighten-4"> Centro Local de Empreendedorismo e Serviço de Emprego, no Uíge a produzir e a escrever os passos para um futuro de todos nós.</p>
            <p class="grey-text text-lighten-4">Encontre aqui a formação que você precisa</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h6 class="white-text"></h6>
            <ul>
              <li><a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/dongala-garcia-2a7795133/">LinkedIn</a></li>
              <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/ndongalagarcia.garcia">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          © 2018 - CLESE Uíge
          <a class="grey-text text-lighten-4 right" href="#!">Cleseuige.com</a>
        </div>
      </div>
    </footer>