<div class="container mtmb">

    <h4>Centro Local de Empreendedorismo e Serviços de Emprego - Uíge</h4>

    <p class="margin-top-botton">CLESE, Centro Local de Empreendedorismo e Serviços de Emprego é um
    serviço executivo indirecto de âmbito provincial, do Instituto Nacional de Emprego e
    Formação Profissional vocacionado à formação profissional especializada no domínio
    do empreendedorismo, apoio à criação e desenvolvimento de pequenas e médias
    empresas, bem como à intermediação da procura e oferta de mão-de-obra.
    </p>


    <div class="container">
        <h5>Missões</h5>

        <p>Estimular e apoiar as iniciativas com carácter inovador conducentes à geração de
        emprego e renda, junto de jovens empreendedores;</p>
        
        <p>Disponibilizar pessoal e serviços especializados nos domínios da gestão, inovação
        tecnológica, comercialização de produtos ou serviços, contabilidade, marketing e
        assistência jurídica;</p>
        
        <p>Proporcionar às empresas, acesso a estudos e outros elementos, referentes à gestão
        de negócios;</p>
        
        <p>Ministrar acções de capacitação/formação aos empresários ou meros
        empreendedores, em temáticas inerentes à gestão empresarial e outras matérias
        conexas;</p>
        
        <p>Conceber conteúdos formativos referentes ao empreendedorismo, a fim de serem
        ministrados a nível do Sistema Nacional de Emprego e Formação Profissional,
        bem como nas Universidades, Instituições formativas;
        </p>
        <p>Proporcionar aos potenciais empreendedores e empresários, contactos sobre boas
        práticas e empreendedorismo a nível do sector empresarial e comercial;
        </p>

        <p>Identificar e estabelecer protocolos de cooperação com as instituições de crédito
        e de concessão de assessoria ao sector empresarial;
        </p>
        
        <p>Promover junto das instituições de ensino e de formação profissional, acções no
        domínio da orientação profissional, com vista a assegurar a correcta escolha ou
        opção técnica/profissional dos cidadãos;
        </p>

        <p>Optimizar o processo de recrutamento e selecção de candidatos através do
        cruzamento de informações relacionadas com a procura e a oferta de emprego;
        </p>

        <p>Promover a cultura do empreendedorismo e associativismo, em particular nos
        jovens a procura do primeiro emprego;
        </p>
        <p>Proceder periodicamente a caracterização do meio envolvente com vista a permitir
        a aplicação eficaz de projectos empresariais inovadores e com valor agregado.
        </p>
    </div>




</div>