<div class="row edit-subscription">
    <div class="col s12 m3 l3 offset-l1">

        <div class="card-panel indigo lighten-5">Preencha o formulário para se inscriveres no curso de <%= @course.name %></div>
    </div>

<%= render 'form', subscription: @subscription %>

</div>