.mb1 {
    margin-bottom: 1rem;
}

.mt2 {
    margin-top: 2rem;
}

.mb2 {
    margin-bottom: 2rem;
}

.pt2 {
    padding-top: 2rem;
}

.pb2 {
    padding-bottom: 2rem;
}

.custumNavbar{
    background-color: #ffffff !important;
}

.parallax-container {
    height: 15rem !important;
}

.img{
    height: 13rem !important;
}

.category {
    padding-left: 1rem;
}