.edit-subscription {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.mtmb {
    padding: 2rem 2rem !important;
}

.margin-top-botton {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: justify;
}
